* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 1366px;
    min-height: 100vh;
    margin: auto;
    border: 2px solid springgreen;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 7px 14px;
    border-radius: 10px;
    border: 1px solid gray;
}

input {
    outline: none;
    border: 1px solid gray;
}

textarea {
    resize: none;
    outline: none;
}

select {
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}

option {
    cursor: pointer;
    background-color: aliceblue;
}